
table{
    border: 5px solid rgb(37, 117, 141);
}

td{

    text-align: center;
   
}

img{
    height:200px;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(37, 117, 141);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}